html, body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  padding: 0; }

#container {
  min-height: 100%;
  position: relative; }

#body {
  padding: 0px;
  padding-bottom: 3.5em;
  /* Height of the footer */ }

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.5em;
  background: #fff; }

::-webkit-scrollbar {
  width: 6px; }

::-webkit-scrollbar-thumb {
  background-color: #235867; }

body {
  /*background-color: lightblue;*/ }

#container {
  background-image: url(../img/sunset_faded2.jpg);
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-position: center 0%; }

.navbar {
  background-color: white;
  border: none; }

#footer {
  background-color: #fff;
  border-top: 2px solid #999; }

.navbar-default .navbar-nav > li > a {
  color: lightgreen; }

.navbar-default .navbar-nav > li {
  padding: .25em; }

.navbar-default .navbar-nav > li > a:hover {
  color: green;
  box-shadow: 0px 0px 4px #ddd; }

.navbar-default .navbar-nav > .active > a {
  color: darkgreen;
  background-color: transparent; }

.navbar-default .navbar-nav > .active > a:hover {
  color: black;
  background-color: transparent; }

.navbar-default .navbar-brand {
  color: darkgreen; }

.navbar-default .navbar-brand:hover {
  color: darkgreen; }

.nav-bottom {
  margin-bottom: 0; }

.myNavBtn {
  background-color: lightgreen;
  padding: 1em 1.5em; }

.welcome {
  /*width: 80%;*/
  text-align: center;
  margin-bottom: 3em;
  margin-top: 1.5em; }

.welcome-info {
  width: 70%;
  margin: auto; }

.welcome-choices {
  margin-bottom: 2em; }

.welcome-choice-out {
  /*text-align: center;*/
  margin-top: 1em; }

.welcome-choice-in {
  border: 1px solid #444;
  border-radius: 1em;
  max-width: 70%;
  padding: 1em 1em;
  margin: auto;
  max-width: 20em;
  height: 12em; }

.welcome-choice-in:hover {
  background-color: rgba(220, 220, 220, 0.3); }

.welcome-padding {
  height: 4em; }

.welcome-choice-in a {
  margin-top: 3em; }

.center {
  text-align: center; }

#add_tune_form,
#create_account_form {
  max-width: 800px;
  margin: auto;
  /*text-align: center;*/ }

.form-control {
  background-color: rgba(200, 200, 200, 0.3); }

table {
  /*border-collapse: collapse;*/ }

td {
  border-bottom: 1px solid #999;
  padding-top: .5em; }

th {
  border-bottom: 15px solid transparent;
  margin-bottom: 2em; }

tr {
  padding-bottom: 1em;
  margin-bottom: 1em; }

.result-table {
  width: 90%;
  margin: auto; }

li {
  /*display: inline-block;*/
  margin-right: 0; }

.source-text {
  width: 100%; }

.successfully {
  display: inline-block;
  background-color: rgba(144, 238, 144, 0.62);
  padding: .5em;
  width: 100%;
  border-radius: .5em; }

.detail-headers {
  text-align: center;
  margin-bottom: 2em; }

.center {
  text-align: center; }

.update-drops {
  margin: 1em 0; }

#links_hidden_div,
#delete_hidden_div,
#skill_hidden_div {
  display: none; }

iframe {
  width: 100%;
  height: 370px; }

video {
  width: 100%;
  height: 380px; }

.legend-like {
  border-bottom: 1px solid #e5e5e5;
  display: inline-block;
  padding-bottom: .5em; }

.legend-like2 {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: .5em; }

#mail-btn {
  margin-right: 1em; }

#captcha-answer {
  background-color: rgba(200, 200, 200, 0.3);
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: .25em; }

#sendMail, #another_captcha {
  margin: .5em; }

#hid-msg2 {
  color: #9E170E; }

#hid-msg1 {
  color: green; }

.tune-links:hover {
  cursor: pointer;
  color: #9E170E;
  text-decoration: none; }

.tune-links2:hover {
  cursor: pointer;
  color: #9E170E; }

.fire {
  color: #9E170E; }

.tune-links {
  text-decoration: none; }

.lnk-btn {
  margin-bottom: 1em; }

.drop-down {
  min-height: 100%;
  max-height: 370px;
  border: 1px solid #e5e5e5;
  border-radius: .5em;
  overflow: scroll;
  padding: 0 .5em; }

ul {
  padding: 0;
  list-style-type: none; }

#link-list-drp li {
  text-decoration: none;
  margin: .5em; }

.vlink-section {
  margin-top: 1em; }

#vid-dsp, #vid-sel {
  margin-bottom: 1em; }

.ui-autocomplete {
  background-color: #ccc;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  color: #333;
  max-width: 8em;
  padding: .25em 0 0 .5em;
  max-height: 15em;
  overflow: scroll;
  background-color: rgba(200, 200, 200, 0.5); }

.ui-helper-hidden-accessible {
  display: none; }

.member-info {
  margin: 1em 0; }

.map-wrapper {
  padding: 1em;
  height: 35em; }

#umap {
  height: 100%;
  border: 2px solid #333;
  border-radius: 10px; }

#member-output {
  height: 35em;
  overflow: scroll; }
  #member-output td {
    padding: 0.5em 0; }

#regional-output {
  height: 35em; }
  #regional-output td {
    padding: 0.5em 0; }

#regional-map {
  height: 100%;
  border: 2px solid #333;
  border-radius: 10px; }

#source,
#members,
#title {
  width: 8em; }

.style-controls {
  width: 40%;
  position: absolute;
  bottom: 2em;
  left: 30%; }
  .style-controls button {
    background-color: white;
    border-radius: 5px;
    border: none;
    margin: .25em; }

#regional-output {
  position: relative; }

.style-card {
  background-color: rgba(196, 195, 143, 0.62);
  border-radius: .5em;
  display: none;
  height: 28em;
  padding: .5em;
  word-break: normal; }

tr:hover {
  background-color: rgba(200, 200, 200, 0.5); }

.explorer_results {
  margin-top: 2em; }

#loc_label {
  font-weight: bold;
  color: darkgreen;
  background-color: rgba(100, 100, 100, 0.3);
  border-radius: 5px; }
  #loc_label a, #loc_label span {
    color: #333; }

#hidden_lat,
#hidden_lng {
  width: 100%;
  background-color: rgba(200, 200, 200, 0.2); }

.memberLat,
.memberLng {
  display: none; }

/*# sourceMappingURL=style.css.map */
